{
    box-sizing: border-box;
}


.body {
    margin: 0;
    min-height: 100vh;
    text-align: center;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    margin-top: 45px;
    margin-left: 100px;
    margin-right: 100px;
}

input[type="cat"]{
    display: none;
}

.poster{
    min-height: 100vh;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;


}

.label{
    margin-bottom: 48px;
    font-size: 48px;
    letter-spacing: 8px;
    border: 1px;
    color: green
}

.choice-btn {
    background: none;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    padding: 12px 24px;
    font-size: 30px;
    font-weight: 600;
    border-radius: 6px;
    margin-top: 0px;
    margin-bottom: 10px;
}

a:hover {
    color: #0d8bf2;
    text-decoration: underline;
}

.image {
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}